package grob

{{ .DoNotEdit }}

import (
	"github.com/MetalBlueberry/go-plotly/pkg/types"
	"encoding/json"
)

var TraceType{{ .TraceTypeName }} types.TraceType = "{{ .TraceName }}"

func (t *{{ .TraceTypeName }}) GetType() types.TraceType {
	return TraceType{{ .TraceTypeName }}
}

func (t *{{ .TraceTypeName }}) MarshalJSON() ([]byte, error) {
	// Define the custom JSON structure including the "type" field
	type Alias {{ .TraceTypeName }}
	return json.Marshal(&struct {
		Type types.TraceType `json:"type"`
		*Alias
	}{
		Type:  t.GetType(), // Add your desired default value here
		Alias: (*Alias)(t),   // Embed the original struct fields
	})
}



