// {{.Name }} {{.Description}}
type {{.Name }} struct {
    {{ range .Fields }}
    // {{.Name }} {{ range .Description }}
    // {{.}} {{ end }}
    // {{ .JSONPath }}
    {{.Name }} {{.Type}} `json:"{{.JSONName}},omitempty"`
    {{ end }}
}
