package grob

{{ .DoNotEdit }}

import (
	"github.com/MetalBlueberry/go-plotly/types/arrayok"
	"encoding/json"
)

var TraceType{{ .TraceTypeName }} TraceType = "{{ .TraceName }}"

func (trace *{{ .TraceTypeName }}) GetType() TraceType {
	return TraceType{{ .TraceTypeName }}
}

func (trace *{{ .TraceTypeName }}) MarshalJSON() ([]byte, error) {
	// Define the custom JSON structure including the "type" field
	type Alias {{ .TraceTypeName }}
	return json.Marshal(&struct {
		Type TraceType `json:"type"`
		*Alias
	}{
		Type:  trace.GetType(), // Add your desired default value here
		Alias: (*Alias)(trace),   // Embed the original struct fields
	})
}



