{{- define "attributes" -}}
{{- $g := . -}}
{{- $enumerates := dict }}
{{- $objects := dict }}
{{- $flaglists := dict }}
{{- /*0*/ -}}{{- range $attrName, $attr := .attributes }}
    {{- $formatAttrName := $attrName | title }}
    {{- $typeName := print $g.parent ($attrName | camelcase) }}
    {{- /*1*/ -}}{{- if kindIs "map" $attr -}}
    {{/* Add description */}}
    // {{ $formatAttrName }} {{ $attr.valType }} {{ $attr.description }}
    {{/*2*/}}{{ if hasKey $attr "valType" -}}
    {{/* Check if type map is defined and comment out if not*/}}
    {{- /*3*/ -}}{{- if eq $attr.valType "enumerated" }}{{ $_ := set $enumerates $typeName $attr }} 
    {{- /*3*/ -}}{{- else if eq $attr.valType "flaglist" -}}{{ $_ := set $flaglists $typeName $attr }}
    {{- /*3*/ -}}{{- else if not (hasKey $g.ctx.typeMap $attr.valType) }}// Pending of type {{ quote $attr.valType -}} 
    {{- /*3*/ -}}{{- end -}} 
    {{- $formatAttrName }} {{/*3*/}}{{ if eq $attr.valType "enumerated" -}}
    {{- $typeName }}
    {{- /*3*/}}{{- else if eq $attr.valType "flaglist" -}}
    {{- $typeName }}
    {{- /*3*/}}{{- else if $attr.arrayOk -}}
    interface{} 
    {{- else -}}
    {{ get $g.ctx.typeMap $attr.valType }}
    {{- /*3*/ -}}{{- end }} 
    {{- else if hasKey $attr "role" }}
    {{- $formatAttrName }} *{{ $typeName }} 
    {{- $_ := set $objects $typeName $attr }}
    {{- else }}
    // Pending... {{ $formatAttrName }} No valTyp {{ $attr.role -}} 
    {{- /*2*/ -}}{{- end }} `json:"{{ $attrName }},omitempty"` 
    {{/*1*/ -}}{{- end -}}
{{- /*0*/ -}}{{- end }}
{{/* return values */}}
{{- $_ := set . "enumerates" $enumerates }}
{{- $_ := set . "objects" $objects }}
{{- $_ := set . "flaglists" $flaglists }}
{{- end -}}
