{{- define "cleanupName" -}}
{{- $charName := dict "=" "eq" ">" "gt" "-" "_"  "<" "lt" "|" "or" "/" "slash" "\\" "doublebackslash" "^" "_cape_" "(" "_lpar_" ")" "_rpar_" "[" "_lbracket_" "]" "_rbracket_" "+" "plus" "?" "_question_" "$" "_dollar_" -}}
{{- $out := . | nospace -}}
{{- range $char,$name := $charName }}
{{- $out = replace $char $name $out -}}
{{- end -}}
{{ $out }}
{{- end -}}

{{- define "enumerates" -}}
package grob

// Enumerate section

{{ range $name, $attr := .enumerates }}
{{- $formatName := $name | title }}
{{- $containsBool := or (has true $attr.values) (has false $attr.values) }}
// {{ $formatName }} {{ $attr.description }}
type {{ $formatName }} {{ if $containsBool }}interface{}{{ else }}string{{ end }}
{{ if $containsBool }}
var (
{{- else}}
const (
{{- end}}
{{- range $value := $attr.values }}
    {{- if kindIs "string" $value }}
    {{- if ne $value "" }}
    {{$formatName}}_{{ template "cleanupName" $value }} {{ $formatName }} = {{ quote $value }}
    {{- end }}
    {{- else if kindIs "float64" $value }}
    {{$formatName}}{{ $value | toString | title | replace "-" "_" }} {{ $formatName }} = {{ quote $value }}
    {{- else if kindIs "bool" $value }}
    {{$formatName}}_{{ $value | toString | title }} {{ $formatName }} = {{ $value }} 
    {{- else }}
    ERROR {{ kindOf $value }}
    {{- end }}
{{- end }}
)
{{ end }}
{{- end -}}