{{- define "flaglists" -}}
package graph_objects

{{ range $name,$attr := .flaglists }}
{{- $containsBool := or (has true $attr.flags) (has false $attr.flags) (has false $attr.extras) (has false $attr.extras) }}
type {{$name}} {{ if $containsBool }}interface{}{{else}}string{{end}}
{{ if $containsBool }}
var (
{{- else}}
const (
{{- end}}
    // Flags
    {{- range $flag := $attr.flags }}
    {{$name}}{{ $flag | camelcase}} {{$name}} = {{ quote $flag }}
    {{- end }}
    // Extras
    {{- range $extra := $attr.extras }}
    {{- if kindIs "string" $extra  }}
    {{$name}}{{ $extra | camelcase}} {{$name}} = {{ quote $extra }}
    {{- else }}
    {{$name}}{{ $extra | toString | title }} {{$name}} = {{ $extra }}
    {{- end }}
    {{- end }}
)
{{ end -}}
{{- end -}}