{{- define "flaglists" -}}
package graph_objects

{{ range $name,$attr := .flaglists }}
type {{$name}} string

const (
    // Flags
    {{- range $flag := $attr.flags }}
    {{$name}}{{ $flag | camelcase}} {{$name}} = {{ quote $flag }}
    {{- end }}
    // Extras
    {{- range $extra := $attr.extras }}
    {{$name}}{{ $extra | camelcase}} {{$name}} = {{ quote $extra }}
    {{- end }}
)
{{ end -}}
{{- end -}}