

{{- $g := . -}}

Generating Go Plotly schema
SHA {{ .sha1 }}

{{- $err := file "auto_plotly.go" "plotly" $g  -}}
{{ if $err }}
    Something went wrong rendering plotly.go {{ $err }}
{{ end }}

{{ $tracesInput := (dict "traces" $g.schema.traces ) }}
{{- $err := file "auto_traces.go" "traces" $tracesInput -}}
{{ if $err }}
    Something went wrong rendering traces.go {{ $err }}
{{ end }}

Objects in traces 
{{ range $name, $_ := $tracesInput.objects }}
    {{ $name }}
{{- end }}

{{ $layoutInput := (dict "layout" $g.schema.layout "extra" $tracesInput.layoutAttributes ) }}
{{- $err := file "auto_layout.go" "layout" $layoutInput -}}
{{ if $err }}
    Something went wrong rendering layout.go {{ $err }}
{{ end }}
Objects in layout 
{{ range $name, $_ := $layoutInput.objects }}
    {{ $name }}
{{- end }}

{{- $configInput := (dict "config" $g.schema.config ) }}
{{- $err := file "auto_config.go" "config" $configInput -}}
{{ if $err }}
    Something went wrong rendering config.go {{ $err }}
{{ end }}

Rendering objects.go
{{ $objectsInput := (dict "objects" (merge $tracesInput.objects $layoutInput.objects $configInput.objects) "deep" 0 ) }}
{{- $err := file "auto_objects.go" "objects_recursive" $objectsInput -}}
{{- if $err }}
    Something went wrong rendering objects.go {{ $err }}
{{- end -}}

Rendering enumerates.go
{{ $enumeratesInput := (dict "enumerates" (merge $tracesInput.enumerates $layoutInput.enumerates $objectsInput.enumerates $configInput.enumerates ) ) }}
{{- $err := file "auto_enumerates.go" "enumerates" $enumeratesInput -}}
{{- if $err }}
    Something went wrong rendering enumerates.go {{ $err }}
{{- end }}

{{- $flaglistsInput := (dict "flaglists" (merge $tracesInput.flaglists $layoutInput.flaglists $objectsInput.flaglists $configInput.flaglists ) ) }}
{{- $err := file "auto_flaglists.go" "flaglists" $flaglistsInput -}}
{{- if $err }}
    Something went wrong rendering flaglist.go {{ $err }}
{{- end }}

Finished
