{{- define "objects" -}}
{{- $g := . -}}
{{- $enumerates := dict -}}
{{- $innerObjects := dict  -}}
{{- $flaglists := dict }}

{{- range $objName, $obj :=  .objects }} 
{{ $typeName := print $objName }}
{{- /*1*/}}{{- if hasKey $obj "items" }}
// {{ $typeName }} It's an items array and what goes inside it's... messy... check the docs
// Here is a hint to help you to define your own type
{{- range $itemName, $item := $obj.items }}
// {{ $itemName }}
    {{- range $itemAttrName, $itemAttr := $item }}
//      {{ $itemAttrName }}
    {{- end }}
{{- end }}
type {{ $typeName }} interface{}
{{/*1*/}}{{- else -}}
type {{ $typeName }} struct {
{{ $params := (dict "parent" $typeName "attributes" $obj  ) }}
{{- template "attributes" $params -}}
{{- $enumerates = mustMerge $enumerates $params.enumerates }}
{{- $innerObjects = mustMerge $innerObjects $params.objects -}}
{{- $flaglists = mustMerge $flaglists $params.flaglists -}}
}
{{/*1*/}}{{ end -}}
{{ end -}}

{{/* return values */}}
{{- $_ := set . "innerObjects" $innerObjects }}
{{- $_ := set . "enumerates" $enumerates }}
{{- $_ := set . "flaglists" $flaglists }}
{{- end -}}

{{- define "objects_recursive" -}}
{{- $g := . -}}
{{- $enumerates := dict }}
{{- $objects := dict }}
{{- $flaglists := dict }}
{{- if eq .deep 0 -}}
package grob
{{- end }}
// DEEP {{ .deep -}}

{{- $fileName := print "objects_" .deep ".go" }}
{{- $objectsInput := (dict "objects" .objects ) }}
{{- template "objects" $objectsInput -}}
{{- $enumerates =  mustMerge $enumerates $objectsInput.enumerates }}
{{- $flaglists = mustMerge $flaglists $objectsInput.flaglists }}

{{- $objectsNested := dict }}
{{ range $name, $value := $objectsInput.innerObjects }}
{{- if not (hasKey $objectsInput.objects $name)  }}
{{- $_ := set $objectsNested $name $value }}
{{- end }}
{{- end }}

{{- if gt (len $objectsNested) 0 -}}
{{ $nextInput := dict "objects" $objectsNested "deep" (add $g.deep 1)  }}
{{- template "objects_recursive" $nextInput -}}
{{- $enumerates =  merge $enumerates $nextInput.enumerates }}
{{- $flaglists = merge $flaglists $nextInput.flaglists }}
{{- end -}}
{{/* return values */}}
{{- $_ := set . "enumerates" $enumerates }}
{{- $_ := set . "flaglists" $flaglists }}

{{- end -}}